.dpTitle {

}

.datePickerContainer {
}

.optionsContainer {
  display: flex;
}

.localeOptions,
.calendarAnimationOptions {
  margin-top: 20px;
}

.optionsItem {
  width: 33%;
}

.datePicker {
  width: 280px;
  margin-top: 20px;
}

.localeLabel,
.calendarAnimationLabel {
  padding-left: 0;
}

.selectItem {
  width: 280px;
  padding-left: 0;
}

.inputBox {
  cursor: pointer;
}

.linkToOptions {
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .optionsContainer {
    display: block;
  }
  .optionsItem {
    width: 100%;
  }
}
