<div class="datePickerContainer">
  <h5 class="dpTitle"><a name="options">Options</a></h5>

  <div class="optionsContainer">
      <div class="form-check optionsItem">
        <input class="form-check-input inputBox" type="checkbox" id="disableUntilYesterday" (change)="onDisableUntilYesterday($event.currentTarget.checked)" [checked]="false">
        <label class="form-check-label" for="disableUntilYesterday">
          Disable until yesterday
        </label>
      </div>

      <div class="form-check optionsItem">
        <input class="form-check-input inputBox" type="checkbox" id="disableSinceTomorrow" (change)="onDisableSinceTomorrow($event.currentTarget.checked)" [checked]="false">
        <label class="form-check-label" for="disableSinceTomorrow">
          Disable since tomorrow
        </label>
      </div>

      <div class="form-check optionsItem">
        <input class="form-check-input inputBox" type="checkbox" id="disableThirdDay" (change)="onDisableThirdDay($event.currentTarget.checked)" [checked]="false">
        <label class="form-check-label" for="disableThirdDay">
          Disable 3rd day of every month
        </label>
      </div>
  </div>

  <div class="optionsContainer">
    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="sundayFirstDayOfWeek" (change)="onSundayFirstDayOfWeek($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="sundayFirstDayOfWeek">
        Sunday first day of week
      </label>
    </div>

    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="highlightToday" (change)="onHighlightToday($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="highlightToday">
        Highlight today
      </label>
    </div>

    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="markToday" (change)="onMarkToday($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="markToday">
        Mark today
      </label>
    </div>
  </div>

  <div class="optionsContainer">
    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="showWeekNumbers" (change)="onShowWeekNumbers($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="showWeekNumbers">
        Show week numbers
      </label>
    </div>

    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="disableWednesday" (change)="onDisableWednesday($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="disableWednesday">
        Disable Wednesday
      </label>
    </div>

    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="dateRangePicker" (change)="onDateRangePicker($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="dateRangePicker">
        Date range picker
      </label>
    </div>

  </div>

  <div class="optionsContainer">
    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="rtl" (change)="onRtl($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="rtl">
        RTL
      </label>
    </div>

    <div class="form-check optionsItem">
      <input class="form-check-input inputBox" type="checkbox" id="rtl" (change)="onShowTodayFooter($event.currentTarget.checked)" [checked]="false">
      <label class="form-check-label" for="rtl">
        Show today footer
      </label>
    </div>

    <div class="form-check optionsItem">

    </div>

  </div>

  <div class="optionsContainer calendarAnimationOptions">

    <div class="form-check selectItem">
      <label for="animation" class="col-sm-4 col-form-label calendarAnimationLabel">Animation:</label>
      <select id="animation" class="custom-select col-sm-8" (change)="onChangeCalendarAnimation($event.target.value)">
        <option *ngFor="let a of animations">{{a}}</option>
      </select>
    </div>

    <div class="form-check selectItem">
      <label for="animation" class="col-sm-4 col-form-label overrideStylesLabel"><a href="https://github.com/kekeh/angular-mydatepicker/wiki/color-theme-(grey)" target="_blank">Override styles:</a></label>
      <select id="animation" class="custom-select col-sm-8" (change)="onOverrideStyles($event.target.value)">
        <option *ngFor="let c of styleColor">{{c}}</option>
      </select>
    </div>

    <div class="form-check selectItem">
      <label for="locale" class="col-sm-4 col-form-label localeLabel">Locale:</label>
      <select id="locale" class="custom-select col-sm-8" (change)="onChangeLocale($event.target.value)">
        <option *ngFor="let l of locales">{{l}}</option>
      </select>
    </div>

  
  </div>

  <p class="linkToOptions">All options are listed <a href="https://github.com/kekeh/angular-mydatepicker#attributes">here</a></p>

  <div class="optionsContainer localeOptions">



  </div>


  <div class="input-group datePicker">
    <input class="form-control" placeholder="{{myOptions.dateRange ? 'Select a date range' : 'Select a date'}}" angular-mydatepicker name="mydate" [locale]="locale"
           [(ngModel)]="model" [options]="myOptions" #dp="angular-mydatepicker" (dateChanged)="onDateChanged($event)"/>
    <div class="input-group-append">
      <button type="button" class="btn btn-secondary" *ngIf="model" (click)="dp.clearDate()">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="input-group-append">
      <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
        <i class="fa fa-calendar-o"></i>
      </button>
    </div>
  </div>

</div>
