.dpTitle {

}

.datePickerContainer {
}

.optionsContainer {
  display: flex;
}

.localeOptions,
.calendarAnimationOptions {
  margin-top: 20px;
}

.optionsItem {
  width: 33%;
}

.datePicker {
  width: 280px;
}

.localeLabel,
.calendarAnimationLabel,
.overrideStylesLabel  {
  padding-left: 0;
  min-width: 140px;
}

.custom-select {
  width: 200px;
}

.selectItem {
  width: 33%;
  min-width: 200px;
  padding-left: 0;
}

.numberField {
  width: 200px;
  display: inline-block;
}

.inputBox {
  cursor: pointer;
}

.linkToOptions {
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  .calendarAnimationOptions {
    display: block;
  }
  .optionsItem {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .optionsContainer {
    display: block;
  }
  .optionsItem {
    width: 100%;
  }
}
