.datepickercontainer {
  position: relative;
  display: flex;
}

.datepickerelement {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 6px 8px;
  width: 260px;
  font-size: 16px;
  color: #495057;
  cursor: pointer;
}

.placeholdercolor {
  color: #bbb;
}

.closeIconContainer {
  margin: auto 0 auto -26px;
  cursor: pointer;
}

.closeIconContainer:hover {
  color: #bbb;
}

.buttons {
  margin-top: 20px;
}