<div class="header">
  <h1>angular-mydatepicker</h1>
  <p>Angular datepicker and date range picker</p>
</div>

<div class="content">
  <p class="infoText">Highly configurable Angular datepicker and date range picker. These examples use <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">bootstrap</a> and <a href="https://fontawesome.com/">font-awesome</a>, but you can use datepicker also without them.</p>

  <div class="dpContainer">

    <div class="row">

        <div class="col">
          <app-dp-bootstrap></app-dp-bootstrap>
        </div>

        <div class="col">
          <app-drp-bootstrap></app-drp-bootstrap>
        </div>

        <div class="col">
          <app-no-bootstrap></app-no-bootstrap>
        </div>

        <div class="col">
          <app-dp-inline></app-dp-inline>
        </div>

    </div>

  </div>

  <div class="dpOptionsContainer">
    <app-dp-options></app-dp-options>
  </div>
</div>

