.header {
  padding: 50px;
  text-align: center;
  background: rgb(17,12,111);
  background: linear-gradient(90deg, rgba(17,12,111,1) 0%, rgba(13,13,126,1) 36%, rgba(14,166,196,1) 100%);
  color: #fff;
  font-size: 24px;
}

.content {
  padding: 20px;
  height: 600px;
}

.flexContainer {
  display: flex;
}

.flexElement {
  width: 33%;
}

.infoText {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .flexContainer {
    display: block;
  }

  .flexElement {
    width: 100%;
    margin-bottom: 30px;
  }
}
