.pagecontent {
  margin: 20px 200px;
}

.maintitle {
  background-color: #EEE;
  height: 180px;
  border-bottom: 1px solid #CCC;
  background: linear-gradient(to right, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
  text-align: center;
}

.maintitle div {
  display: inline-block;
  color: #FFF;
  font-size: 46px;
  font-weight: bold;
  line-height: 180px;
}

.maintext {
  margin-bottom: 20px;
}

.normalmode {
  margin-bottom: 280px;
}

.inlinemode {
  margin-bottom: 20px;
}

.flexcontainer {
  display: flex;
}

.flexitem {
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .pagecontent {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 1000px) {
  .flexcontainer {
    display: block;
  }

  .flexitem {
    width: 50%;
    margin: 0 auto;
  }
}